#primeiroTitulo{
	color: white;
	background: #DD5F13;
}


#painelCard, #panel-heading{
	background: #dd5f13;
}

#cartao{
	display:inline-block;
	width: 24%;
	padding: 1px 10px;
	margin: -10px 4px;
}

.iconeColor{
	color: #dd5f13;

}

#textColor, #painelCard{
	color: white;
	background: #dd5f13;
}

#bottonColor{
	border: none;
	background: #dd5f13;
}