#colorText{
	color: white
}

#painelCard{
	background: #dd5f13;
}

input{
	padding: 10px;
}
.col, .col-7{
	display:inline-block;
	width: 24%;
}
#bottonColor{
	border: none;
	background: #dd5f13;
}
#bottonColor:hover{
	 background: #337ab7;
}