@charset "UTF-8";
/* Layout */
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
/* Omni Colors */
/* Theme Colors */
/*Record colors*/
/* Responsive adjustments */
/* BODY */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-bottom: 50px; }

a, .btn {
  transition: all 0.3s ease-in 0s; }

.btn {
  margin-bottom: 10px; }

/* Button - Groups */
.btn-group-vertical .btn {
  margin-bottom: 0px; }

/* 5 Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

.operator-panel .dl-horizontal dt {
  float: left; }

/* PAINEL COM SCROLL */
.x_content.scroll-content {
  overflow-x: hidden;
  min-height: 13vh;
  max-height: 38vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.modal-footer .btn + .btn {
  margin-bottom: 10px; }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  right: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-bottom: 0; }
  .sticky .navbar {
    background: #002c7c;
    color: #ffffff;
    border-radius: 0;
    border: none;
    height: auto;
    margin: 0; }
    .sticky .navbar a.scroll {
      color: #ffffff; }
    .sticky .navbar .dropdown .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s; }
      .sticky .navbar .dropdown .dropdown-toggle:hover {
        transition: all 0.3s ease-in 0s;
        background-color: #dd5f13;
        background: #ff7e2f;
        background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown.open .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown .dropdown-menu {
      padding: 0px 0 5px; }
      .sticky .navbar .dropdown .dropdown-menu a {
        color: #002c7c;
        font-weight: bold;
        border-top: 1px solid #e4e4e4;
        line-height: 150%;
        padding: 7px 20px;
        margin: 0;
        background: #fff; }
    .sticky .navbar a {
      transition: all 0.3s ease-in 0s; }

.navbar {
  background: #002c7c;
  color: #ffffff;
  border: none;
  height: auto;
  margin: 0; }
  .navbar a.scroll {
    color: #ffffff; }
  .navbar .dropdown .dropdown-toggle {
    color: #ffffff;
    transition: all 0.3s ease-in 0s; }
    .navbar .dropdown .dropdown-toggle:hover, .navbar .dropdown .dropdown-toggle:focus {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown.open .dropdown-toggle {
    color: white !important;
    transition: all 0.3s ease-in 0s;
    background-color: #dd5f13;
    background: #ff7e2f;
    background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown .dropdown-menu {
    padding: 0px 0 5px; }
    .navbar .dropdown .dropdown-menu a {
      color: #002c7c;
      font-weight: bold;
      border-top: 1px solid #e4e4e4;
      line-height: 150%;
      padding: 7px 20px;
      margin: 0;
      background: #fff; }
      .navbar .dropdown .dropdown-menu a:hover {
        color: white;
        background: #dd5f13; }

.x_panel {
  position: relative;
  width: 100%;
  display: inline-block;
  background: #fff;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  margin: 10px auto 10px;
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease; }
  .x_panel .x-title {
    background: #002c7c;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #ffffff; }
    .x_panel .x-title h2 {
      font-size: 2rem;
      font-weight: bold;
      padding: 5px 0 5px 10px;
      margin: 0;
      color: #ffffff; }
  .x_panel .x_content {
    padding: 10px; }
    .x_panel .x_content h2, .x_panel .x_content h3, .x_panel .x_content h4, .x_panel .x_content h5, .x_panel .x_content h6 {
      margin: 10px 0; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }
  .panel.panel-danger .panel-heading {
    background: #dd5f13;
    color: #ffffff; }
  .panel.panel-warning .panel-heading {
    background: #EA9908;
    color: #ffffff; }
  .panel.panel-primary .panel-heading {
    background: #002d74;
    color: #ffffff; }
  .panel.panel-info .panel-heading {
    background: #004bc1;
    color: #ffffff; }
  .panel.panel-default .panel-heading {
    background: #7c7c7c;
    color: #ffffff; }
  .panel.panel-success .panel-heading {
    background: #3c763d;
    color: #ffffff; }

/* Elementos */
.table > tbody > tr > td {
  vertical-align: middle; }

.table-hover > tbody > tr:hover {
  background-color: #e4e4e4; }

/* SISTEMAS - PARA ATIVAR APENAS REMOVA O COMENTÁRIO */
/*Fonts*/
/* Theme Colors */
/*Record colors*/
/* Omni Colors */
/* Responsive adjustments */
/* Comum adjustments */
body {
  font-family: 'Montserrat', sans-serif;
  color: #666;
  padding-top: 70px;
  overflow-x: hidden; }

a, button, img {
  transition: all 0.3s ease;
  outline: none !important; }

#main-container {
  display: flex;
  flex-wrap: wrap; }

#main:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

#main::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 0;
  background: #fff; }

.shadow, .new-record, .panel, #side-bar.closed .side-slide, #records .record, .banner, .timeline > li > .timeline-panel, .btn-register, .btn-product {
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.blue-strip {
  background: #002f86;
  background: -moz-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #002f86), color-stop(100%, #001b4c));
  background: -webkit-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -o-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: -ms-linear-gradient(-45deg, #002f86 0%, #001b4c 100%);
  background: linear-gradient(135deg, #002f86 0%, #001b4c 100%); }

/*Nav Tabs*/
.nav-tabs li.active a {
  background-color: #002c7c;
  color: #ffffff; }
  .nav-tabs li.active a:hover, .nav-tabs li.active a:active {
    background-color: #002c7c;
    color: #ffffff; }

.nav-tabs li a {
  color: #bebebe; }
  .nav-tabs li a:hover {
    color: #002c7c; }
  .nav-tabs li a.filters i {
    color: #ff720a;
    padding-right: 5px; }

.progress {
  border-radius: 50px;
  background-color: #ebebeb;
  margin-top: 75px;
  height: 10px;
  margin-bottom: 60px; }

.progress-bar {
  background-color: #002c7c;
  border-radius: 50px; }
  .progress-bar .result {
    background-color: #002c7c;
    color: #ffffff;
    width: 75px;
    height: 75px;
    top: -10px;
    border-radius: 75px;
    position: absolute;
    line-height: 130%;
    padding-top: 15px;
    z-index: 10; }
    .progress-bar .result:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -2px;
      background-color: #002c7c;
      left: 39%;
      z-index: -2;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Chrome, Safari, Opera */
      transform: rotate(45deg); }

.limits {
  color: #989898;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 90px; }
  .limits.start {
    left: 46%; }
  .limits.end {
    left: 84%; }

.btn {
  transition: all 0.3s ease; }
  .btn.btn-border-orange {
    border: 2px solid #ff720a;
    margin: 0 10px;
    padding: 10px 25px;
    font-size: 1.6rem;
    border-radius: 60px;
    font-weight: 400;
    color: #ff720a;
    background-color: #ffffff; }
    .btn.btn-border-orange:hover {
      background-color: #ff720a;
      color: #ffffff; }
  .btn.btn-full-orange {
    border: 2px solid transparent;
    margin: 0 10px;
    padding: 10px 25px;
    font-size: 1.6rem;
    border-radius: 60px;
    font-weight: 400;
    color: #ffffff;
    background-color: #ff720a; }
    .btn.btn-full-orange:hover {
      background-color: transparent;
      color: #ff720a;
      border-color: #ff720a; }
  .btn.btn-icon-left {
    margin-bottom: 50px; }
    .btn.btn-icon-left i {
      padding-left: 30px; }

.options .inline {
  display: block;
  margin: 20px 0 10px;
  color: #ff720a; }

.rattings-box {
  padding: 10px;
  border-radius: 50px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rattings-box {
    font-size: 2rem; } }

.star-rating {
  line-height: 32px;
  cursor: pointer;
  display: inline-block;
  font-size: 4rem; }
  .star-rating span {
    display: inline-block;
    font-size: .9em;
    padding: 0; }
  .star-rating .fa-star {
    color: #ffdc3b; }
  .star-rating .fa-star-o {
    color: #474947; }

.forms h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0px 0 45px 30px;
  padding: 0; }

.forms p {
  padding: 48px 0;
  color: #002c7c;
  font-weight: 700;
  font-size: 2rem; }

.forms label {
  color: #002c7c;
  display: block;
  font-size: 1.8rem; }

.forms input, .forms select {
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.6rem;
  padding: 10px 10px;
  border-bottom: 1.5px solid #c7c8c7;
  width: 100%;
  color: #002c7c; }

.forms input:focus {
  box-shadow: none;
  border-color: #002c7c; }

.forms select {
  padding: 0px 10px; }
  .forms select:focus {
    box-shadow: none;
    border-color: #002c7c; }

.forms .form-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px; }

.forms .inputs {
  flex: auto; }

.forms .icon {
  width: 70px;
  height: 70px;
  display: flex;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 20px; }

.forms .user {
  background: url(../images/omnimais/icones/ic_ficha_vendedor.svg); }

.forms .id-number {
  background: url(../images/omnimais/icones/ic_ficha_cpf.svg); }

.forms .store {
  background: url(../images/omnimais/icones/ic_ficha_loja_s.svg); }

.forms .email {
  background: url(../images/omnimais/icones/ic_ficha_email.svg); }

.forms .mobile, .forms .mail {
  background: url(../images/omnimais/icones/ic_ficha_celular.svg); }

.forms .income {
  background: url(../images/omnimais/icones/ic_ficha_finalizada_condicoes.svg); }

.forms .car {
  background: url(../images/omnimais/icones/ic_ficha_carro.svg); }

.forms .state {
  background: url(../images/omnimais/icones/ic_ficha_estado.svg); }

.forms .married {
  background: url(../images/omnimais/icones/ic_ficha_estadocivil.svg); }

.forms .mother {
  background: url(../images/omnimais/icones/ic_ficha_mae.svg); }

.forms .father {
  background: url(../images/omnimais/icones/bt_vendedor.svg); }

.forms .citizenship {
  background: url(../images/omnimais/icones/ic_ficha_naturalidade.svg); }

.forms .zip-code {
  background: url(../images/omnimais/icones/ic_ficha_cep.svg); }

.forms .professional-class {
  background: url(../images/omnimais/icones/ic_ficha_classeprof.svg); }

.forms .profession {
  background: url(../images/omnimais/icones/ic_ficha_profissao.svg); }

.forms .company {
  background: url(../images/omnimais/icones/ic_ficha_empresa.svg); }

.forms .residencial {
  background: url(../images/omnimais/icones/ic_ficha_enderecores.svg); }

.forms .public-person {
  background: url(../images/omnimais/icones/ic_ficha_politico.svg); }

.forms .reference {
  background: url(../images/omnimais/icones/ic_ficha_referencia.svg); }

.forms .debt {
  background: url(../images/omnimais/icones/ic_ficha_divida.svg); }

.forms .patrimony {
  background: url(../images/omnimais/icones/ic_card_patrimonio.svg); }

@media only screen and (max-width: 767px) {
  .forms h2 {
    margin: 0px 0 30px 5px; } }

@media only screen and (max-width: 767px) {
  .forms p {
    padding: 30px 0; } }

@media only screen and (max-width: 767px) {
  .forms .form-group {
    padding-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .forms .icon {
    width: 40px;
    margin-right: 20px; } }

.new-record {
  background-color: #ff720a;
  width: 70px;
  height: 70px;
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 5%;
  z-index: 2000;
  display: block;
  border: none;
  border-radius: 35px; }
  .new-record i {
    font-size: 2rem;
    top: 25px;
    left: 28px;
    position: absolute; }
  .new-record span {
    display: none;
    width: 20px;
    opacity: 0; }
  .new-record:hover {
    color: #ffffff;
    width: 190px;
    text-decoration: none; }
    .new-record:hover span {
      /* display: inline-block;
			width: auto; */
      display: inline-block;
      width: 120px;
      position: absolute;
      top: 36%;
      left: 50px;
      opacity: 1; }

/*PANELS*/
.panel {
  margin-top: 50px;
  display: block;
  position: relative; }
  .panel.blue {
    background-color: #002c7c !important;
    color: #ffffff; }
    .panel.blue .icon {
      margin: 30px auto; }
  .panel h2 {
    margin: 0px; }
  .panel:last-child {
    margin-bottom: 60px; }
  .panel .panel-title {
    height: 145px;
    background-color: #eeeef1;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .panel .panel-title img, .panel .panel-title h2 {
      display: block;
      margin: 0 45px 0; }
    .panel .panel-title img {
      margin-top: 0px; }
    .panel .panel-title h2 {
      padding: 0 0 3px 0;
      font-weight: 700;
      text-transform: uppercase;
      color: #002c7c;
      font-size: 4rem; }
      .panel .panel-title h2 small {
        font-size: 1.2rem;
        display: block;
        text-transform: none; }
  .panel .header {
    background: url(../images/examples/ipad.jpg) no-repeat center center;
    width: 100%;
    height: 245px;
    display: block; }
    .panel .header h2 {
      color: #ffffff;
      font-size: 4rem; }
      .panel .header h2 small {
        color: #ffffff;
        display: block;
        font-size: 1.2rem;
        padding: 65px 0 5px; }
    .panel .header .btn {
      margin-top: 10px;
      padding-left: 60px;
      padding-right: 60px; }
  .panel .content {
    margin-top: 35px;
    padding: 10px 40px; }
    .panel .content.no-padding {
      padding: 0; }
    .panel .content .btn {
      margin: 20px auto 30px; }
  .panel .rattings-box {
    width: 310px;
    margin: 20px auto;
    color: #002c7c;
    padding: 17px 20px; }

@media only screen and (max-width: 767px) {
  .panel .panel-title img, .panel .panel-title h2 {
    margin: 0 20px 0; } }

@media only screen and (max-width: 767px) {
  .panel .rattings-box {
    width: auto; } }

.input-group-addon:first-child {
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  font-weight: 500;
  color: #002c7c; }

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .input-box .btn-circle {
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    line-height: 98%;
    border-radius: 5px;
    display: block;
    color: #ffffff;
    margin: auto 10px auto 5px;
    outline: none;
    font-size: 1.8rem; }
    .input-box .btn-circle .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 13px 13px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px; }
  .input-box label.btn.btn-default.btn-circle.btn-lg {
    border: 2px solid #ff720a;
    background: #ffffff;
    color: #ff720a;
    outline: none; }
    .input-box label.btn.btn-default.btn-circle.btn-lg.active {
      background-color: #ff720a;
      color: #ffffff; }
      .input-box label.btn.btn-default.btn-circle.btn-lg.active:focus, .input-box label.btn.btn-default.btn-circle.btn-lg.active:active {
        outline: none; }
      .input-box label.btn.btn-default.btn-circle.btn-lg.active:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        line-height: 120%; }
  .input-box .radio-label {
    min-width: 55px;
    max-width: 130px;
    display: inline-block;
    position: relative;
    padding: 0 5px; }

.marginT10, .marginT30 {
  margin-top: 10px !important; }

.mrBt {
  margin-right: 15px; }

.mlBt {
  margin-left: 35px; }

.tab-buttons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 0 10px 20px !important; }
  .tab-buttons.clean-panel {
    width: 622px; }

@media only screen and (max-width: 767px) {
  .tab-buttons.clean-panel {
    width: 95%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tab-buttons.clean-panel {
    width: 97%; } }

.bt-home {
  justify-content: center; }

.blue-box {
  border-radius: 5px;
  background: #ecf0f3;
  padding: 20px 0;
  margin-bottom: 30px; }
  .blue-box input, .blue-box select, .blue-box .dropdown-toggle {
    background: none; }

.dn, .forms .form-group.dn {
  display: none; }

button.pop-over-help {
  border: none;
  background: none;
  position: absolute;
  z-index: 10;
  top: 11px;
  right: 10px;
  font-size: 2rem;
  color: #ff720a; }

.loading .loading-containner {
  margin: 10% auto 0;
  display: block;
  position: relative;
  width: 300px;
  text-align: center; }

.record-alert {
  position: fixed;
  top: 10%;
  right: 1%;
  width: 250px;
  background: rgba(0, 44, 124, 0.8);
  color: white;
  padding: 10px 25px 10px 15px;
  font-size: 1.2rem;
  border-radius: 15px; }
  .record-alert h4 {
    padding: 0;
    margin: 7px 0 5px;
    font-size: 1.4rem; }

.modal h3 {
  text-align: center;
  color: #002c7c;
  text-transform: uppercase;
  font-size: 2rem; }

.modal small {
  text-align: center;
  width: 60%;
  display: block;
  margin: 10px auto;
  font-size: 1.4rem; }
  .modal small a {
    color: #ff720a; }

.modal .star-rating {
  margin: 0 auto;
  width: 210px;
  display: block; }
  .modal .star-rating .fa-star-o:before {
    color: #bebebe; }

.modal label {
  text-transform: uppercase; }

.modal .radio {
  box-sizing: border-box;
  height: 50px;
  position: relative;
  width: 100%; }
  .modal .radio input {
    display: none; }
  .modal .radio label {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 0 0 40px;
    cursor: pointer;
    display: block;
    font-size: 1.8rem;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    transition: all 0.2s ease; }
  .modal .radio input:checked + label {
    border: 4px solid #002c7c;
    background: #002c7c;
    color: #ffffff;
    padding-top: 09px;
    font-weight: 500; }
    .modal .radio input:checked + label:after {
      background: url(../images/omnimais/icones/ic_ficha_finalizada.svg) no-repeat;
      background-size: cover;
      top: 10px;
      content: "";
      display: inline-block;
      height: 20px;
      position: absolute;
      left: 10px;
      width: 20px; }

.modal .datepicker-inline, .modal .table-condensed {
  width: 100%; }

.modal .datepicker-inline td.day, .modal .table-condensed td.day {
  border: 1px solid #ccc; }

.modal .forms .form-group {
  width: 94%;
  margin-bottom: 0px; }

.modal .forms small {
  font-size: 1.2rem;
  text-align: left;
  width: 100%; }

@-moz-document url-prefix() {
  .modal .radio input:checked + label:after {
    bottom: 0;
    right: 0;
    background-color: #21b4d0; } }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.btn {
  border: none;
  color: #002c7c;
  background-color: white;
  padding: 5px 5px;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: bold; }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

.animated-words {
  display: block;
  text-align: center;
  position: relative;
  width: 200px;
  margin: 20px auto;
  height: 30px; }
  .animated-words span {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    text-align: center;
    width: 200px;
    opacity: 0;
    color: #717171;
    overflow: hidden;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s; }
    .animated-words span:nth-child(2) {
      -webkit-animation-delay: 3s;
      -ms-animation-delay: 3s;
      animation-delay: 3s; }
    .animated-words span:nth-child(3) {
      -webkit-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 6s; }
    .animated-words span:nth-child(4) {
      -webkit-animation-delay: 9s;
      -ms-animation-delay: 9s;
      animation-delay: 9s; }
    .animated-words span:nth-child(5) {
      -webkit-animation-delay: 12s;
      -ms-animation-delay: 12s;
      animation-delay: 12s; }
    .animated-words span:nth-child(6) {
      -webkit-animation-delay: 15s;
      -ms-animation-delay: 15s;
      animation-delay: 15s; }

@-webkit-keyframes animateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.container {
  margin: 0;
  padding: 0;
  font-family: "Open Sans"; }

#login h1 {
  width: 120px;
  height: 52px;
  display: block;
  position: relative;
  margin: 0px auto 56px;
  text-indent: -9999px;
  background: url(../images/logo_omni_white.png) no-repeat;
  background-size: cover; }

#login .blue-strip {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  z-index: -1;
  box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 9px 3px rgba(0, 0, 0, 0.2); }

#login .box {
  border-radius: 3px;
  background: #ffffff;
  margin: 0px auto 15px;
  padding: 0 0 45px;
  box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 20px 3px rgba(0, 0, 0, 0.1);
  width: 436px;
  min-height: 200px;
  z-index: 1; }
  #login .box h2 {
    color: #002c7c;
    font-size: 2.1rem;
    text-align: center;
    padding: 55px 0 10px; }

#login .password {
  display: none;
  padding-bottom: 30px; }
  #login .password h2 {
    padding: 20px 0 10px; }

#login input {
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid #c7c8c7;
  text-align: center;
  font-size: 1.6rem;
  padding: 10px 10px;
  box-shadow: none; }

#login .form-group {
  padding: 11px 18%; }

#login .password-recovery {
  text-align: center;
  font-weight: bold;
  color: #ff720a;
  display: block;
  padding-bottom: 10px;
  position: relative; }
  #login .password-recovery h2 {
    padding-top: 30px; }

#login .btn-login {
  height: 50px;
  border-radius: 50px;
  text-align: center;
  display: block;
  position: relative;
  margin: 12px auto;
  width: 65%;
  line-height: 260%; }

#login .btn-sign {
  background: #ff720a;
  color: #ffffff;
  font-weight: bold;
  border: 1.5px solid #ffffff; }
  #login .btn-sign:hover {
    background: #ffffff;
    color: #ff720a;
    border-color: #ff720a; }

#login .btn-social {
  border: 1.5px solid #adafad;
  color: #adafad; }
  #login .btn-social:hover {
    background: #ff720a;
    color: #ffffff;
    border-color: #ff720a; }
  #login .btn-social i {
    font-size: 2rem; }

#login .password-back {
  position: relative;
  display: block;
  top: 15px;
  left: 15px;
  color: #ff720a;
  font-size: 2rem; }

#login .new-user {
  padding-top: 20px; }

#login .register {
  color: #ff720a;
  font-weight: bold; }

@media only screen and (max-width: 767px) {
  #login .box {
    width: 90%; } }

.terms .box {
  width: 70%; }
  .terms .box h2 {
    color: #002c7c;
    font-size: 2.1rem;
    text-align: center;
    padding: 20px 0; }

.terms .term_text {
  height: 200px;
  font-size: 1.2rem;
  width: 97%;
  border: 1px solid #c7c8c7;
  overflow: auto;
  display: block;
  position: relative;
  padding: 10px 5px;
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  .terms .box {
    width: 90%; } }

@media only screen and (min-width: 1200px) {
  .terms .box {
    width: 75%; } }

#top-bar {
  color: #ffffff;
  z-index: 1000;
  background: #002e82;
  background: -moz-linear-gradient(left, #002e82 0%, #002e82 40%, #001a4a 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #002e82), color-stop(30%, #002e82), color-stop(100%, #001a4a));
  background: -webkit-linear-gradient(left, #002e82 0%, #002e82 40%, #001a4a 100%);
  background: -o-linear-gradient(left, #002e82 0%, #002e82 40%, #001a4a 100%);
  background: -ms-linear-gradient(left, #002e82 0%, #002e82 40%, #001a4a 100%);
  background: linear-gradient(to right, #002e82 0%, #002e82 40%, #001a4a 100%); }
  #top-bar nav {
    height: 70px;
    margin: 0;
    background: none; }
    #top-bar nav .navbar-brand {
      height: 70px;
      width: 235px;
      padding: 0;
      text-align: center;
      background: #003086;
      background: -moz-linear-gradient(left, #003086 0%, #002a72 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #003086), color-stop(100%, #002a72));
      background: -webkit-linear-gradient(left, #003086 0%, #002a72 100%);
      background: -o-linear-gradient(left, #003086 0%, #002a72 100%);
      background: -ms-linear-gradient(left, #003086 0%, #002a72 100%);
      background: linear-gradient(to right, #003086 0%, #002a72 100%); }
    #top-bar nav a {
      color: #cdced7;
      text-transform: uppercase; }
      #top-bar nav a i {
        font-size: 2rem; }
      #top-bar nav a:hover {
        color: #ffffff; }
    #top-bar nav .links a {
      padding: 26px 0px 20px;
      margin: 0 30px;
      font-size: 1.4rem; }
  #top-bar h1 {
    background: url(../images/omnimais/omni.png) no-repeat center center;
    background-size: contain;
    text-indent: -9999px;
    display: block;
    position: relative;
    width: 145px;
    height: 46px;
    margin: 12px auto;
    padding: 0px 10px; }
  #top-bar .collapse.navbar-collapse {
    background: none;
    border: none;
    z-index: 1000; }
  #top-bar .navbar-default {
    background: none;
    border: none;
    z-index: 1000; }
    #top-bar .navbar-default .navbar-nav a:hover {
      background: none;
      border-bottom: 4px solid #dd5f13;
      box-sizing: border-box;
      color: #ffffff; }
    #top-bar .navbar-default .navbar-nav > .active > a {
      background: none;
      border-bottom: 4px solid #dd5f13;
      box-sizing: border-box;
      color: #ffffff; }
      #top-bar .navbar-default .navbar-nav > .active > a:focus, #top-bar .navbar-default .navbar-nav > .active > a:hover {
        background: none;
        border-bottom: 4px solid #dd5f13;
        box-sizing: border-box;
        color: #ffffff; }
  #top-bar .navbar-right li {
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box; }
    #top-bar .navbar-right li a:hover {
      border-bottom: none !important; }
    #top-bar .navbar-right li.search {
      display: none; }
      #top-bar .navbar-right li.search:before {
        font-family: 'FontAwesome';
        content: "\f002";
        display: block;
        position: absolute;
        top: 20px;
        left: -20px;
        font-size: 2rem;
        color: #5c7ebc; }
      #top-bar .navbar-right li.search:after {
        border-left: 2px solid #002973;
        content: "";
        width: 1px;
        height: 30px;
        right: 0;
        position: absolute;
        display: block;
        top: 20px; }
      #top-bar .navbar-right li.search input {
        background: none;
        border: none;
        box-shadow: none;
        color: #5c7ebc;
        margin: 11px 0 0 0;
        width: 230px;
        font-size: 1.2rem;
        padding: 0 0 0 10px; }
        #top-bar .navbar-right li.search input::placeholder {
          /* Chrome/Opera/Safari */
          color: #5c7ebc; }
    #top-bar .navbar-right li .chat {
      padding: 0px 30px 0 25px; }
  #top-bar .dropdown .dropdown-toggle i {
    font-size: 1rem;
    color: #ff720a; }
  #top-bar .dropdown.open a {
    background: none; }
  #top-bar .dropdown .dropdown-menu {
    border: 1px solid #c7c8c7;
    width: 100%; }
    #top-bar .dropdown .dropdown-menu li {
      height: auto;
      padding: 1px 0px 0;
      width: 100%; }
    #top-bar .dropdown .dropdown-menu a {
      color: #5c7ebc; }
      #top-bar .dropdown .dropdown-menu a:hover {
        color: #ff720a; }
  #top-bar .navbar-collapse {
    padding: 0 !important; }
  #top-bar .navbar-toggle {
    color: white;
    background: #ff720a;
    top: 10px;
    border: #ff720a; }
    #top-bar .navbar-toggle span.icon-bar {
      background: #ffffff; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #top-bar nav .navbar-brand {
    width: 195px; } }

@media only screen and (max-width: 767px) {
  #top-bar nav .navbar-brand {
    background: none; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #top-bar nav .links a {
    padding: 26px 0px 20px;
    margin: 0 10px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #top-bar nav .links a {
    padding: 26px 0px 20px;
    margin: 0 10px; } }

@media only screen and (max-width: 767px) {
  #top-bar nav .links a {
    padding: 15px 10px;
    margin: 0;
    border-bottom: 1px solid #fff; } }

@media only screen and (max-width: 767px) {
  #top-bar h1 {
    margin: 12px 0; } }

@media only screen and (max-width: 767px) {
  #top-bar .navbar-right li.search:before {
    left: 10px;
    top: 8px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #top-bar .navbar-right li.search:after {
    display: none; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #top-bar .navbar-right li.search:after {
    display: none; } }

@media only screen and (max-width: 767px) {
  #top-bar .navbar-right li.search:after {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #top-bar .navbar-right li.search {
    padding-right: 10px; } }

@media only screen and (max-width: 767px) {
  #top-bar .navbar-right li.search {
    width: 100%;
    height: 45px;
    background: white; }
    #top-bar .navbar-right li.search .form-group, #top-bar .navbar-right li.search input {
      width: 100%;
      padding: 6px 20px 6px;
      margin: 0; } }

@media only screen and (max-width: 767px) {
  #top-bar .navbar-right li {
    height: auto; } }

@media only screen and (max-width: 767px) {
  #top-bar .dropdown .dropdown-menu a {
    color: #ffffff;
    padding: 5px 0; } }

@media only screen and (max-width: 767px) {
  #top-bar .navbar-nav {
    margin: 0;
    background: #002c7c;
    padding: 0; } }

/* User  */
.user {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 107px; }
  .user span {
    font-weight: 700; }
  .user small {
    display: block;
    font-weight: 400; }
  .user .user-photo {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
    background-size: cover !important;
    border: 2px solid #fff;
    border-radius: 65px;
    display: flex;
    align-items: center; }
  .user .name {
    margin: 5px 20px 5px 5px;
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
  .user a.dropdown-toggle {
    padding: 0 10px 0 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: none !important; }

@media only screen and (max-width: 767px) {
  .user a.dropdown-toggle {
    padding: 5px; } }

@media only screen and (max-width: 767px) {
  .user {
    height: auto; } }

.back-page {
  top: 16px;
  position: absolute;
  display: block;
  right: 10px;
  color: #717171; }
  .back-page:hover {
    color: #002c7c;
    text-decoration: none; }

/* Breadcrumb */
.breadcrumb {
  margin: 0px 0 30px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-radius: 0;
  padding: 17px 20px;
  line-height: 0;
  transition: all 0.3s ease; }
  .breadcrumb i {
    font-size: 1.8rem;
    color: #002c7c; }
  .breadcrumb a {
    color: #474947; }
  .breadcrumb li:last-child {
    color: #00185c;
    font-weight: 500; }
  .breadcrumb > li + li:before {
    content: ".";
    color: #002c7c !important;
    font-size: 3rem;
    top: -3px;
    display: inline-block;
    position: relative;
    height: 5px; }
  .breadcrumb.menu-closed li:first-child {
    margin-left: 30px; }

/* Operadores */
#side-bar {
  background-color: #ecf0f3;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  flex-direction: column; }
  #side-bar.closed {
    position: absolute;
    left: -1350px; }
    #side-bar.closed .side-slide {
      left: 0;
      top: 75px;
      z-index: 10;
      border-radius: 0 10px 10px 0;
      position: fixed; }
      #side-bar.closed .side-slide:hover {
        color: #ffffff;
        background-color: #ff720a; }
  #side-bar h2 {
    text-align: left;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 20px 0 8px;
    margin: 0;
    color: #002c7c; }
  #side-bar .side-slide {
    background-color: #ecf0f3;
    color: #ff720a;
    border: none;
    position: absolute;
    top: 10px;
    right: 0px;
    border-radius: 4px;
    padding: 10px 15px;
    transition: none !important; }
  #side-bar .operators a {
    text-decoration: none;
    width: 70%;
    display: block;
    margin: 30px auto; }
    #side-bar .operators a .image {
      background-size: cover !important;
      box-sizing: border-box;
      border: 5px solid #ecf0f3;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      display: block;
      background-color: #ffffff;
      transition: all 0.3s ease;
      margin: 10px auto; }
      #side-bar .operators a .image i {
        font-size: 3rem;
        padding: 30px 0 0 0;
        text-shadow: 0px 1px 5px #000; }
    #side-bar .operators a:hover {
      text-decoration: none; }
      #side-bar .operators a:hover .image {
        border: 5px solid #00185c;
        text-shadow: 0px 1px 5px #013188; }
      #side-bar .operators a:hover .name {
        text-decoration: none; }
  #side-bar .operators .all-operators a .image, #side-bar .operators .add-operator a .image {
    background-color: #013188;
    color: #ffffff; }
  #side-bar .operators .all-operators a:hover .image, #side-bar .operators .add-operator a:hover .image {
    background-color: #00185c; }

@media only screen and (max-width: 767px) {
  #side-bar {
    min-height: auto !important; } }

@media only screen and (max-width: 767px) {
  #side-bar .operators li {
    float: left;
    margin: 0px; }
  #side-bar .operators a {
    margin: 0px auto; }
    #side-bar .operators a .image {
      width: 50px;
      height: 50px;
      border: 3px solid #ecf0f3; }
      #side-bar .operators a .image i {
        font-size: 2rem;
        padding: 12px 0 0 0; }
    #side-bar .operators a:hover .image {
      border: 3px solid #00185c; } }

.client {
  text-align: center; }
  .client .title, .client .user-id {
    color: #474947;
    font-size: 1.2rem;
    display: block; }
  .client .title {
    padding-top: 15px; }
  .client h2 {
    margin: 0;
    padding: 0;
    color: #00185c;
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .client .title {
    padding-top: 10px; } }

.date {
  font-weight: 400;
  color: #474947;
  font-size: 1rem;
  line-height: 300%;
  margin: 5px 0; }
  .date span {
    font-weight: 700;
    color: #002c7c;
    padding: 5px; }

.documents {
  width: 100% !important;
  padding: 0;
  margin: 0; }
  .documents li {
    display: block; }
  .documents img {
    width: 42px;
    height: 42px;
    border: 2px solid #ffffff;
    border-radius: 42px; }
  .documents .image:after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 2rem;
    position: absolute;
    right: 20px;
    color: #ff720a;
    top: 30%;
    right: -290%; }
  .documents a {
    width: 100%;
    position: relative;
    padding: 3px 0;
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: center; }
    .documents a:hover img {
      border-color: #ff720a; }
  .documents .type {
    padding: 0px 60px 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    align-self: center;
    justify-content: flex-start; }

.photos-title {
  margin: 20px auto 5px; }

.photos li {
  width: 33%;
  float: left; }

.photos img {
  display: block;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  margin: 5px auto 0;
  border: 2px solid #ffffff; }

.photos a {
  margin-bottom: 5px;
  text-decoration: none; }
  .photos a:hover img {
    border-color: #ff720a; }

.btn.send-doc {
  font-weight: 500;
  color: #b5b5b5;
  background: #e3e3e3;
  padding: 15px 30px;
  border-radius: 30px;
  margin: 20px auto 10px; }

/* Content Container */
#main {
  color: #474947; }

/* Mapa Home */
.area iframe {
  width: 100%;
  height: 410px;
  border: none; }

.area .title {
  color: #ff720a;
  width: 100%;
  margin: 0px 0 0px 0;
  padding: 0px 20px 15px 0;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 1.6rem; }

@media only screen and (max-width: 767px) {
  .area {
    margin-top: 30px; } }

/* Operador */
.operator-meter .title {
  text-align: center; }
  .operator-meter .title small {
    color: #ff720a;
    margin: 0px 0 0px 0;
    padding: 0px 20px 15px 20px;
    display: block;
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: left; }
  .operator-meter .title h3 {
    color: #002c7c;
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #e4e4e4;
    display: block;
    position: relative;
    padding: 0 0 15px 0;
    margin: 0 20px 40px; }
  .operator-meter .title .operator {
    text-align: right; }
    .operator-meter .title .operator a {
      color: #8b8b8b;
      text-transform: uppercase;
      font-weight: 500;
      background: url(../images/omnimais/icones/bt_perfil.svg) no-repeat;
      background-size: contain;
      padding: 2px 0 0 25px; }

.operator-meter .rattings {
  text-align: center;
  color: #002c7c;
  font-size: 2.8rem;
  font-weight: 700; }
  .operator-meter .rattings span {
    color: #474947;
    display: block;
    font-size: 1.3rem;
    padding: 20px 0 10px;
    font-weight: 500; }
  .operator-meter .rattings .rattings-box {
    background: #f1f1f1; }

/* Fichas */
#records {
  color: #002c7c;
  margin-bottom: 30px;
  /*Cores e ícones das fichas conforme classes*/ }
  #records .record-title {
    color: #ff720a;
    font-size: 1.6rem;
    margin: 5px 0 35px; }
  #records ol li {
    padding: 10px 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    float: left; }
  #records h3 {
    padding: 20px;
    margin: 20px 0 20px;
    font-weight: 400;
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700; }
  #records .head {
    /*Cor padrão - especificação de cores e ícones ao final do bloco Records*/
    background-color: #aebecc;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    position: relative; }
    #records .head a {
      color: #fff;
      padding: 20px 10px;
      display: block; }
      #records .head a:after {
        content: "\f105";
        font-family: 'FontAwesome';
        right: 30px;
        position: absolute;
        font-size: 2rem;
        line-height: 90%; }
  #records .body {
    text-align: center;
    height: 220px; }
    #records .body .days {
      text-align: center;
      height: 100%;
      /*Cor padrão - especificação de cores e ícones ao final do bloco Records*/
      background-color: #ecf0f3;
      color: #474947; }
      #records .body .days .icon {
        background-position: center center;
        background-repeat: no-repeat;
        height: 60px;
        width: 60px;
        display: block;
        margin: 15px auto 10px; }
      #records .body .days h3 {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        font-weight: 400;
        text-transform: inherit; }
      #records .body .days a.btn {
        border-radius: 20px;
        padding: 5px 10px;
        margin: 5px auto;
        border: 1px solid #474947;
        color: #474947;
        font-size: 1rem; }
        #records .body .days a.btn:hover {
          background-color: #474947;
          color: #ffffff; }
      #records .body .days .operator {
        bottom: 5px;
        position: absolute; }
    #records .body .infos {
      background-color: #ffffff; }
    #records .body .date div {
      display: inline-block; }
      #records .body .date div:first-child {
        width: 40%; }
      #records .body .date div:last-child {
        width: 58%; }
  #records .operator {
    margin-top: 40px; }
    #records .operator .name {
      font-weight: 700;
      margin: 5px 20px 5px 5px;
      display: flex;
      align-items: center; }
      #records .operator .name small {
        display: block;
        font-size: 1.1rem;
        color: #474947;
        font-weight: 400; }
    #records .operator .col-xs-12 {
      display: flex;
      align-items: center;
      box-sizing: border-box; }
    #records .operator .user-photo {
      width: 40px;
      height: 40px;
      margin: 0 0px 0 20px;
      background-size: cover !important;
      border: 2px solid #fff;
      border-radius: 65px;
      display: flex;
      align-items: center; }
  #records .record {
    /*BUSCA POR ANALISTA PARA AVALIAÇÃO*/
    /*IRREGULARIDADES*/
    /*FICHA REPROVADA*/
    /*FICHA APROVADA*/
    /* PAGAMENTO REALIZADO */
    /*DOCUMENTAÇÃO NECESSÁRIA*/
    /*PAGAMENTO AGENDADO*/ }
    #records .record .icon {
      background-size: contain; }
    #records .record.wait .head, #records .record.documentation .head, #records .record.search .head {
      background-color: #aebecc; }
    #records .record.wait .days, #records .record.documentation .days, #records .record.search .days {
      background-color: #ecf0f3; }
    #records .record.wait .icon, #records .record.documentation .icon {
      background-image: url(../images/omnimais/icones/ic_card_esperamax.svg); }
    #records .record.search .icon {
      background-image: url(../images/omnimais/icones/ic_card_esperamax.svg);
      background-image: url(../images/omnimais/icones/ic_card_buscando.svg); }
    #records .record.sos .head {
      background-color: #ff720a; }
    #records .record.sos .days {
      background-color: #fff3eb; }
      #records .record.sos .days h3 {
        color: #ff720a; }
      #records .record.sos .days a {
        border-color: #ff720a;
        color: #ff720a; }
        #records .record.sos .days a:hover {
          background-color: #ff720a;
          color: #ffffff; }
    #records .record.sos .icon {
      background-image: url(../images/omnimais/icones/ic_card_sos.svg); }
    #records .record.refused .head {
      background-color: #ce3305; }
    #records .record.refused .days {
      background-color: #fcf0f0; }
      #records .record.refused .days h3 {
        color: #ce3305; }
      #records .record.refused .days a {
        border-color: #ce3305;
        color: #ce3305; }
        #records .record.refused .days a:hover {
          background-color: #ce3305;
          color: #ffffff; }
    #records .record.refused .icon {
      background-image: url(../images/omnimais/icones/ic_card_reprovada.svg); }
    #records .record.success .head, #records .record.payment-success .head {
      background-color: #0cc082; }
    #records .record.success .days, #records .record.payment-success .days {
      background-color: #eefff9; }
    #records .record.success .days h3, #records .record.payment-success .days h3 {
      color: #0cc082; }
    #records .record.success .days a, #records .record.payment-success .days a {
      border-color: #0cc082;
      color: #0cc082; }
    #records .record.success .days a:hover, #records .record.payment-success .days a:hover {
      background-color: #0cc082;
      color: #ffffff; }
    #records .record.success .icon {
      background-image: url(../images/omnimais/icones/ic_card_aprovada.svg); }
    #records .record.payment-success .icon {
      background-image: url(../images/omnimais/icones/ic_card_aprovada.svg);
      background-image: url(../images/omnimais/icones/ic_timeline_pagrealizado.svg); }
    #records .record.document .icon {
      background-image: url(../images/omnimais/icones/ic_timeline_docsanalise.svg); }
    #records .record.payment-date .icon {
      background-image: url(../images/omnimais/icones/ic_timeline_agendado.svg); }
    #records .record .gravame {
      display: block;
      padding: 15px 5px 0;
      border-top: 1px solid #e5e9eb;
      margin-top: 15px; }
      #records .record .gravame i {
        color: #0cc082;
        font-weight: 400; }

@media only screen and (max-width: 767px) {
  #records ol li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #records ol li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%; } }

@media only screen and (max-width: 767px) {
  #records .body {
    min-height: 220px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #records .operator {
    margin-top: 20px; } }

@media only screen and (max-width: 767px) {
  #records .operator {
    margin-top: 20px; } }

/* Cliente Banner */
.banner {
  color: #474947;
  padding: 20px 20px 40px; }
  .banner .date {
    font-size: 1.2rem;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px; }
  .banner .user {
    height: 40px;
    line-height: 100%;
    justify-content: flex-end; }
    .banner .user .user-photo {
      width: 40px;
      height: 40px;
      margin: 0; }
    .banner .user .name {
      margin: 5px 0px 5px 5px; }
      .banner .user .name:after {
        display: none; }
    .banner .user span {
      font-weight: 500; }
    .banner .user small {
      color: #474947; }
  .banner .client .title {
    padding-top: 25px;
    font-size: 2.0rem;
    color: #ff720a; }
  .banner .client h2 {
    font-size: 4.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: -4px 0 0; }
  .banner .client .user-id {
    font-size: 2rem; }

/* Timeline */
#client-track {
  /*SOS*/ }
  #client-track .timeline h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    color: #00185c;
    padding: 0;
    margin: 0; }
  #client-track .step span {
    font-size: 1.2rem;
    color: #717171; }
  #client-track .product {
    padding: 6px 0 0;
    text-transform: uppercase; }
  #client-track .specifications {
    background-color: #f7f7f7;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0 0 5px 5px;
    margin: 20px 0 -5px; }
    #client-track .specifications.files {
      margin-bottom: 0; }
    #client-track .specifications .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0; }
      #client-track .specifications .icon.wait {
        background: url(../images/omnimais/icones/ic_card_esperamax.svg) no-repeat center center;
        background-size: contain; }
    #client-track .specifications .title {
      display: block;
      padding-bottom: 5px;
      font-size: 1.17rem;
      font-weight: 400; }
  #client-track .stats {
    display: inline-block;
    font-weight: 500;
    top: -7px;
    position: relative; }
    #client-track .stats small {
      display: block;
      font-weight: 400; }
  #client-track .icon {
    width: 45px;
    height: 45px;
    display: block;
    margin: 10px auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  #client-track .parcial .icon, #client-track .analysis .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_emanalise.svg); }
  #client-track .direct-analysis .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_aguardandoanalisedireta.svg); }
  #client-track .approved .timeline-panel h2 {
    color: #0cc082 !important; }
  #client-track .approved .icon {
    background-image: url(../images/omnimais/icones/ic_card_aprovada.svg); }
  #client-track .required-docs .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_docnecessaria.svg); }
  #client-track .analysis-docs .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_docsanalise.svg); }
  #client-track .send-docs .icon {
    background-image: url(../images/omnimais/icones/ic_documentacaoenviada.svg); }
  #client-track .scheduled .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_agendado.svg); }
  #client-track .contract .icon {
    background-image: url(../images/omnimais/icones/ic_contratodisponivel.svg); }
  #client-track .paid-out .timeline-panel h2 {
    color: #0cc082 !important; }
  #client-track .paid-out .icon {
    background-image: url(../images/omnimais/icones/ic_timeline_pagrealizado.svg);
    width: 60px;
    height: 50px; }
  #client-track .paid-out .points {
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 500; }
    #client-track .paid-out .points i {
      color: #ffdc3b; }
  #client-track .paid-out .stats {
    top: 0; }
  #client-track .timeline-panel .sos {
    text-align: left; }
    #client-track .timeline-panel .sos .bar {
      background: #ff720a;
      border-radius: 0 0 5px 5px;
      width: 100%;
      height: 55px;
      display: block;
      color: #ffffff;
      text-decoration: none !important; }
      #client-track .timeline-panel .sos .bar:hover {
        text-decoration: none !important; }
      #client-track .timeline-panel .sos .bar i {
        position: absolute;
        display: block;
        font-size: 2rem;
        top: -13px;
        right: 20px; }
    #client-track .timeline-panel .sos h3 {
      padding: 8px 0 0;
      margin: 0;
      height: 40px;
      color: #ffffff; }
    #client-track .timeline-panel .sos .icon {
      background: url(../images/icons/icon-bell-orange.png) no-repeat center center;
      float: left;
      margin: 5px 10px 0; }
    #client-track .timeline-panel .sos .subtitle {
      padding: 0;
      top: -10px;
      display: block;
      position: relative;
      color: #fff;
      font-size: 1.1rem; }
    #client-track .timeline-panel .sos .sos-content {
      text-align: center;
      font-size: 1.2rem; }
      #client-track .timeline-panel .sos .sos-content h4 {
        width: 100%;
        margin: 25px 0 15px;
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        display: block;
        clear: both;
        position: relative; }
      #client-track .timeline-panel .sos .sos-content p {
        margin: 0;
        padding: 10px 0 20px; }
      #client-track .timeline-panel .sos .sos-content .title {
        color: #606360;
        margin: 15px 0 5px;
        padding: 0; }
      #client-track .timeline-panel .sos .sos-content .options {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px; }
      #client-track .timeline-panel .sos .sos-content .reason {
        color: #002c7c;
        background-color: #e3e4e3;
        padding: 13px 30px;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 60px;
        margin: 10px auto;
        display: inline-block; }
      #client-track .timeline-panel .sos .sos-content .options a.btn {
        color: #002c7c;
        background-color: #e3e4e3;
        padding: 13px 30px;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 60px;
        margin: 10px auto;
        display: inline-block;
        border: 2px solid #ff720a;
        margin: 0 10px;
        padding: 10px 20px;
        font-weight: 400;
        color: #ff720a;
        background-color: #ffffff; }
        #client-track .timeline-panel .sos .sos-content .options a.btn:hover {
          background-color: #ff720a;
          color: #ffffff; }
      #client-track .timeline-panel .sos .sos-content .options .inline {
        display: block;
        margin: 20px 0 10px;
        color: #ff720a; }
      #client-track .timeline-panel .sos .sos-content .input-group {
        border: none;
        margin-bottom: 30px; }
        #client-track .timeline-panel .sos .sos-content .input-group a {
          background-color: #ff720a;
          color: #ffffff;
          border-radius: 50%;
          border: none;
          cursor: pointer; }
        #client-track .timeline-panel .sos .sos-content .input-group input {
          background-color: #ffffff;
          box-shadow: none;
          border: none;
          border-radius: 0;
          border-bottom: 2px solid #002c7c; }
      #client-track .timeline-panel .sos .sos-content .info {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #e1e1e1; }
      #client-track .timeline-panel .sos .sos-content .address {
        padding: 20px 0;
        border-bottom: 1px solid #e1e1e1;
        padding: 20px 0;
        display: block;
        height: 115px;
        text-align: left; }
        #client-track .timeline-panel .sos .sos-content .address img {
          float: left;
          margin: 0 10px 0 10px; }
        #client-track .timeline-panel .sos .sos-content .address p {
          padding: 0; }
          #client-track .timeline-panel .sos .sos-content .address p strong {
            display: block; }
        #client-track .timeline-panel .sos .sos-content .address a {
          color: #ff720a;
          font-weight: 500;
          margin-top: 5px;
          display: block; }
      #client-track .timeline-panel .sos .sos-content audio {
        background: #e1e1e1;
        padding: 10px;
        margin: 10px auto;
        width: 95%;
        display: block;
        position: relative;
        height: 50px; }
      #client-track .timeline-panel .sos .sos-content .btn {
        margin-top: 10px;
        margin-bottom: 10px; }
      #client-track .timeline-panel .sos .sos-content .form-group {
        margin-top: 10px;
        text-align: left; }
        #client-track .timeline-panel .sos .sos-content .form-group label {
          font-weight: 400;
          font-size: 1.3rem; }

@media only screen and (max-width: 767px) {
  #client-track .timeline-panel .sos .sos-content h4 {
    margin: 25px 18px 15px; } }

.timeline {
  list-style: none;
  padding: 10px 0;
  position: relative;
  font-weight: 300; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    left: 50%;
    margin-left: -0.5px;
    border-left: 2px dotted #013188; }
  .timeline > li {
    margin-bottom: 30px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    text-align: center; }
    .timeline > li:before {
      content: " ";
      display: table;
      content: " ";
      display: table; }
    .timeline > li:after {
      content: " ";
      display: table;
      clear: both;
      content: " ";
      display: table;
      clear: both; }
    .timeline > li > .timeline-panel {
      width: calc(100% - 25px);
      width: -moz-calc(100% - 25px);
      width: -webkit-calc(100% - 25px);
      float: left;
      background: #ffffff;
      position: relative;
      border-radius: 5px; }
    .timeline > li > .timeline-badge {
      color: #00185c;
      width: 24px;
      height: 24px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: -10px;
      right: -12px;
      z-index: 100; }
    .timeline > li:nth-child(2) {
      margin-top: 60px; }
    .timeline > li.timeline-inverted {
      float: right;
      clear: right;
      margin-top: 40px; }
      .timeline > li.timeline-inverted > .timeline-panel {
        float: right; }
        .timeline > li.timeline-inverted > .timeline-panel:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto; }
        .timeline > li.timeline-inverted > .timeline-panel:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto; }
      .timeline > li.timeline-inverted > .timeline-badge {
        left: -12px; }
  .timeline li h4 {
    text-align: right; }
  .timeline li.timeline-inverted h4 {
    text-align: left; }
  .timeline h4 {
    padding: 5px 25px 10px;
    margin: 0;
    color: #00185c;
    font-weight: 700; }
    .timeline h4 small {
      font-weight: 400;
      color: #474947;
      display: block; }
  .timeline .operator {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center; }
    .timeline .operator .name {
      font-weight: 700;
      margin: 5px 20px 5px 5px;
      display: flex;
      align-items: center; }
      .timeline .operator .name small {
        display: block;
        font-size: 1.1rem;
        color: #474947;
        font-weight: 400; }
    .timeline .operator .user-photo {
      width: 40px;
      height: 40px;
      margin: 0;
      background-size: cover !important;
      border: 2px solid #fff;
      border-radius: 65px;
      display: flex;
      align-items: center; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .timeline > li > .timeline-panel {
    width: calc(100% - 15px);
    width: -moz-calc(100% - 215px);
    width: -webkit-calc(100% - 15px); } }

@media only screen and (max-width: 767px) {
  .timeline li h4 {
    text-align: left !important;
    padding: 5px 25px 10px 18%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .timeline .operator {
    margin-top: 20px; } }

.timeline-badge > a {
  color: #00185c !important; }
  .timeline-badge > a i {
    font-size: 1.8rem; }

.timeline-badge a:hover {
  color: #013188 !important; }

.timeline-panel > p, .timeline-panel > ul {
  padding: 10px 15px;
  margin-bottom: 0; }

.proccess-status {
  padding: 30px;
  text-align: center;
  font-weight: 500;
  background: #e1e1e1;
  color: #939693;
  border-radius: 0 0 5px 5px; }

.no-float {
  float: none !important; }

.filter-panel {
  margin: 0 0px 10px;
  padding: 5px 5px 10px;
  background-color: #f1f1f1;
  display: none; }

@media only screen and (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }
  ul.timeline > li {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left; }
    ul.timeline > li > .timeline-panel {
      width: 80%;
      float: right; }
      ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }

@media only screen and (max-width: 767px) and (max-width: 767px) {
  ul.timeline > li > .timeline-panel {
    width: 83%; } }

@media only screen and (max-width: 767px) {
  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px; }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px; }
    .timeline > li.timeline-inverted > .timeline-badge {
      left: 28px; } }

#side-bar {
  /*Wizard*/ }
  #side-bar .title {
    height: 30px;
    z-index: 3; }
  #side-bar h1 {
    color: #002c7c;
    font-size: 2.1rem;
    text-align: right;
    padding: 0px 40px 5px 20px;
    font-weight: 700; }
  #side-bar .nav-tabs {
    border: none;
    padding: 0 28px 0 0;
    margin: 0;
    z-index: -1; }
    #side-bar .nav-tabs li {
      border: none;
      transition: all 0.3s ease; }
      #side-bar .nav-tabs li.active a, #side-bar .nav-tabs li:hover a, #side-bar .nav-tabs li:active a, #side-bar .nav-tabs li.done a {
        background: none !important;
        border: none;
        color: #ff720a;
        font-weight: 500;
        transition: all 0.3s ease; }
      #side-bar .nav-tabs li.active a span, #side-bar .nav-tabs li:hover a span, #side-bar .nav-tabs li:active a span {
        border: 1px solid #ff720a;
        color: #ff720a; }
      #side-bar .nav-tabs li.done a span {
        border: 1px solid #ff720a;
        color: #ff720a; }
      #side-bar .nav-tabs li.done a:after {
        border-left: 1px solid #ff720a; }
      #side-bar .nav-tabs li a {
        color: #8b8b8b;
        border: none;
        text-align: right;
        padding: 15px 15px; }
        #side-bar .nav-tabs li a:after {
          content: "";
          border-left: 1px solid #a4a4a4;
          height: 60px;
          position: absolute;
          right: 34px;
          top: 40px;
          z-index: 0; }
        #side-bar .nav-tabs li a span {
          background: #ecf0f3;
          border: 1px solid #a4a4a4;
          height: 40px;
          width: 40px;
          color: #8b8b8b;
          display: inline-block;
          position: relative;
          border-radius: 20px;
          text-align: center;
          padding: 8px 0 0 0px;
          font-weight: 500;
          z-index: 2;
          font-size: 1.8rem;
          margin-left: 15px; }
      #side-bar .nav-tabs li:last-child a:after {
        border: none; }
  #side-bar .cover-link {
    position: absolute;
    background: none;
    height: 650px;
    width: 100%;
    z-index: 5; }

.forms h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0px 0 45px 30px;
  padding: 0; }

.forms .icon {
  margin: 0 45px 0 45px; }

.forms .form-group {
  width: 75%; }

.forms .inputs {
  width: 50%; }

.forms input {
  padding: 10px 10px 10px 0;
  height: 38px; }

.forms select {
  padding: 5px 10px 10px 0; }

.forms small, .forms a {
  padding-top: 10px;
  display: block;
  font-weight: 500;
  color: #8b8b8b; }

.forms strong, .forms .font-orange {
  color: #ff720a; }

.forms .subtitle {
  padding: 0 0 10px;
  margin-top: -5px; }

.forms .text-box {
  margin: 0 20px; }

.forms .pb0 {
  padding-bottom: 0; }

.forms .inputs div:first-child {
  padding-left: 0; }

.forms .inputs div:last-child {
  padding-right: 0; }

@media only screen and (max-width: 767px) {
  .forms h2 {
    margin: 0px 0 30px 5px; } }

@media only screen and (max-width: 767px) {
  .forms .icon {
    margin: 0 20px; } }

@media only screen and (max-width: 767px) {
  .forms .form-group {
    width: 95%; } }

@media only screen and (min-width: 1200px) {
  .forms .form-group {
    width: 600px; } }

.panel, .clean-panel {
  text-align: center;
  margin: 20px 0 0 20px; }

@media only screen and (min-width: 1200px) {
  .panel, .clean-panel {
    width: 600px; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .panel, .clean-panel {
    width: 600px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .panel, .clean-panel {
    margin: 20px 5px; } }

@media only screen and (max-width: 767px) {
  .panel, .clean-panel {
    margin: 20px 5px; } }

.phone-list button.dropdown-toggle {
  border: none; }

.phone-list .btn-remove-phone {
  border-radius: 30px !important;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 2px 0 0 1px; }

.phone-list .btn.btn-default.dropdown-toggle {
  width: 120px;
  padding: 7px 5px 7px 0px; }

a.btn-add-phone {
  color: #002c7c; }
  a.btn-add-phone i {
    color: #ff720a; }

.panel .icon {
  background: url(../images/omnimais/icones/ic_avaliacao.svg) no-repeat;
  display: block;
  width: 55px;
  height: 55px;
  margin: 29px auto 0; }

.panel h3 {
  color: #002c7c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 26px 0 15px 0;
  margin: 0; }

.panel p {
  margin: 0 15%;
  padding: 10px 0;
  font-weight: 400;
  color: #717171;
  font-size: 1.6rem; }
  .panel p.border {
    border-bottom: 1px solid #d7d7d7; }

.panel a {
  padding: 20px 0; }

.panel.blue {
  color: #ffffff;
  margin-top: 5px;
  padding: 1px 0; }
  .panel.blue h3 {
    padding: 0px 0 15px 0;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 30px; }
  .panel.blue small {
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 400;
    padding: 0 0 5px;
    text-transform: initial; }
  .panel.blue .icon {
    margin: 30px auto; }

.panel a {
  color: #ff720a; }

.panel input {
  text-align: center;
  border: none;
  box-shadow: none;
  color: #717171;
  font-size: 3rem;
  padding: 15px 0px;
  height: 52px;
  font-weight: 500; }

.panel .input-group {
  width: 40%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500; }

.panel .btn-group {
  display: flex;
  justify-content: center;
  padding-bottom: 30px; }
  .panel .btn-group input {
    width: 200px; }

.panel .input-group-btn {
  width: 10%; }
  .panel .input-group-btn a.btn {
    border: none;
    font-size: 3rem;
    color: #ff720a;
    padding: 5px; }
    .panel .input-group-btn a.btn:hover {
      background: none;
      border: none;
      box-shadow: none; }
    .panel .input-group-btn a.btn:active {
      background: none;
      border: none;
      box-shadow: none;
      color: #002c7c; }

.panel .best-tax {
  text-transform: uppercase;
  color: #717171; }
  .panel .best-tax:hover {
    color: #ff720a; }

.panel .quota-slider {
  width: 75%;
  margin: 50px auto; }

.panel.analisys {
  margin-top: 0px; }
  .panel.analisys h3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%; }
  .panel.analisys .check {
    width: 47px;
    height: 47px;
    background-size: cover;
    background: url(../images/omnimais/icones/ic_ficha_finalizada.svg) no-repeat; }
  .panel.analisys .direct-analysis {
    background: url(../images/omnimais/icones/ic_ficha_analisedireta.svg) no-repeat;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0; }
  .panel.analisys .darkblue {
    background: #05245d;
    border-radius: 0 0 10px 10px;
    padding: 30px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-align: center;
    justify-content: center;
    font-size: 1.2rem; }
    .panel.analisys .darkblue strong {
      display: block;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.6rem; }

.panel.costumer {
  display: flex; }
  .panel.costumer .icon {
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 20px; }
  .panel.costumer .user {
    background: url(../images/omnimais/icones/ic_ficha_vendedor.svg); }
  .panel.costumer .avalista {
    background: url(../images/omnimais/icones/bt_vendedor.svg) no-repeat; }
  .panel.costumer .car {
    background: url(../images/omnimais/icones/ic_ficha_finalizada_veiculo.svg); }
  .panel.costumer .payment {
    background: url(../images/omnimais/icones/ic_ficha_finalizada_condicoes.svg); }
  .panel.costumer .content {
    width: 80%;
    padding: 25px 10px 20px;
    margin: 0; }
  .panel.costumer h3, .panel.costumer p {
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
    float: left;
    display: flex; }
  .panel.costumer .bank-account {
    padding: 10px 20px;
    width: 100%; }
    .panel.costumer .bank-account .input-box .radio-label {
      width: 100%;
      max-width: 100%;
      text-align: left; }

.mail-address {
  display: none; }

.clean-panel {
  margin: 0;
  padding: 0; }
  .clean-panel p {
    padding: 0 0 20px;
    font-size: 1.6rem;
    color: #717171;
    font-weight: 500; }

.options {
  width: 75%;
  margin-top: -70px; }
  .options a {
    color: #ff720a; }
  .options .text-link {
    line-height: 0%; }
  .options .icon-full, .options .icon-border {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 25px;
    border: 2px solid #002c7c;
    color: #002c7c;
    text-align: center;
    font-size: 2rem;
    line-height: 0px;
    padding: 8px 0 0; }
  .options .icon-full:hover, .options .icon-border:hover {
    background: #002c7c;
    color: #ffffff; }
  .options .icon-full {
    color: #ffffff;
    background: #ff720a;
    border-color: #ff720a; }
    .options .icon-full:hover {
      color: #ff720a;
      background: #ffffff; }

@media only screen and (max-width: 767px) {
  .options {
    width: 100%;
    margin-top: -55px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .options {
    width: 100%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .options {
    width: 600px; } }

@media only screen and (min-width: 1200px) {
  .options {
    width: 630px; } }

.btn-register, .btn-product {
  font-size: 2rem;
  font-weight: 700;
  color: #717171;
  width: 25%;
  min-height: 250px;
  margin: 1% 0 1% 3%;
  padding: 15px 15px;
  transition: all 0.3s ease;
  display: inline-block !important;
  white-space: normal;
  background: #ffffff;
  min-height: 280px; }

.btn-register:hover, .btn-register.marked {
  box-shadow: inset 0px 0px 20px 1px rgba(150, 150, 150, 0.5);
  color: #ff720a; }

.btn-product:hover, .btn-product.marked {
  box-shadow: inset 0px 0px 20px 1px rgba(150, 150, 150, 0.5);
  color: #ff720a; }

.btn-register .icon, .btn-product .icon {
  margin: 20px auto 15px; }

.btn-register .desc {
  display: block;
  position: relative;
  white-space: normal;
  font-size: 60%;
  padding: 10px;
  font-weight: normal; }

.btn-product {
  padding: 15px 15px;
  min-height: 100px; }
  .btn-product .desc {
    display: block;
    position: relative;
    white-space: normal;
    font-size: 60%;
    padding: 10px;
    font-weight: normal; }
  .btn-product.btn-financing .icon {
    background: url(../images/omnimais/icones/bt_prod_financiamento.svg); }
  .btn-product.btn-re-financing .icon {
    background: url(../images/omnimais/icones/bt_prod_re_financiamento.svg); }

@media only screen and (max-width: 767px) {
  .btn-register, .btn-product {
    width: 95%;
    margin: 3%;
    min-height: 100px;
    padding: 15px 15px;
    text-align: left; }
  .btn-register .icon, .btn-product .icon {
    display: inline-block;
    float: left;
    margin: -10px 20px 10px 10px; }
  .btn-register .desc, .btn-product .desc {
    padding: 5px 10px 10px; } }

.btn-seller .icon {
  background: url(../images/omnimais/icones/bt_vendedor.svg) no-repeat; }

.btn-store .icon {
  background: url(../images/omnimais/icones/bt_cliente_balcao.svg) no-repeat; }

.btn-person .icon {
  background: url(../images/omnimais/icones/bt_outra_pessoa.svg) no-repeat; }

.product-type {
  margin-bottom: 20px; }
  .product-type button {
    width: 39.5%; }
  .product-type h2 {
    margin: 35px 25px 20px; }

@media only screen and (max-width: 767px) {
  .product-type button {
    width: 43.5%;
    margin: 3%;
    min-height: 100px;
    padding: 15px;
    text-align: center;
    font-size: 1.4rem; }
    .product-type button .icon {
      display: block;
      float: none;
      margin: -0px auto 0px; } }

.tips {
  color: #ff720a;
  padding: 10px 0 0 3%;
  display: inline-block; }

@media only screen and (max-width: 767px) {
  .tips {
    text-align: center;
    margin: 5px auto;
    width: 100%;
    display: block; } }

#reports h2 {
  margin-top: 0px; }

#reports .panel {
  width: 100%;
  margin: 20px 0; }

#reports select, #reports input {
  border: none;
  border-bottom: 1.5px solid #717171;
  border-radius: 0;
  padding: 10px 0px;
  height: 48px;
  font-weight: 500;
  font-size: 2rem;
  box-shadow: none; }

#reports select:focus, #reports input:focus {
  box-shadow: none;
  border-color: #002c7c;
  color: #002c7c; }

#reports .form-control[disabled], #reports .form-control[readonly] {
  background-color: #ffffff;
  color: #002c7c;
  border-bottom: 1.5px solid #002c7c; }

/* OMNIFACIL */
/*Custom - ADICIONE SUAS CLASSES NESTE ARQUIVO*/
