/* Layout */
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
/* Omni Colors */
/* Theme Colors */
/*Record colors*/
/* Responsive adjustments */
/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-bottom: 50px; }

a, .btn {
  transition: all 0.3s ease-in 0s; }

.btn {
  margin-bottom: 10px; }

/* Button - Groups */
.btn-group-vertical .btn {
  margin-bottom: 0px; }

/* 5 Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

.operator-panel .dl-horizontal dt {
  float: left; }

/* PAINEL COM SCROLL */
.x_content.scroll-content {
  overflow-x: hidden;
  min-height: 13vh;
  max-height: 38vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.modal-footer .btn + .btn {
  margin-bottom: 10px; }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0;
  right: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-bottom: 0; }
  .sticky .navbar {
    background: #002c7c;
    color: #ffffff;
    border-radius: 0;
    border: none;
    height: auto;
    margin: 0; }
    .sticky .navbar a.scroll {
      color: #ffffff; }
    .sticky .navbar .dropdown .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s; }
      .sticky .navbar .dropdown .dropdown-toggle:hover {
        transition: all 0.3s ease-in 0s;
        background-color: #dd5f13;
        background: #ff7e2f;
        background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
        background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown.open .dropdown-toggle {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
    .sticky .navbar .dropdown .dropdown-menu {
      padding: 0px 0 5px; }
      .sticky .navbar .dropdown .dropdown-menu a {
        color: #002c7c;
        font-weight: bold;
        border-top: 1px solid #e4e4e4;
        line-height: 150%;
        padding: 7px 20px;
        margin: 0;
        background: #fff; }
    .sticky .navbar a {
      transition: all 0.3s ease-in 0s; }

.navbar {
  background: #002c7c;
  color: #ffffff;
  border: none;
  height: auto;
  margin: 0; }
  .navbar a.scroll {
    color: #ffffff; }
  .navbar .dropdown .dropdown-toggle {
    color: #ffffff;
    transition: all 0.3s ease-in 0s; }
    .navbar .dropdown .dropdown-toggle:hover, .navbar .dropdown .dropdown-toggle:focus {
      color: #ffffff;
      transition: all 0.3s ease-in 0s;
      background-color: #dd5f13;
      background: #ff7e2f;
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown.open .dropdown-toggle {
    color: white !important;
    transition: all 0.3s ease-in 0s;
    background-color: #dd5f13;
    background: #ff7e2f;
    background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  .navbar .dropdown .dropdown-menu {
    padding: 0px 0 5px; }
    .navbar .dropdown .dropdown-menu a {
      color: #002c7c;
      font-weight: bold;
      border-top: 1px solid #e4e4e4;
      line-height: 150%;
      padding: 7px 20px;
      margin: 0;
      background: #fff; }
      .navbar .dropdown .dropdown-menu a:hover {
        color: white;
        background: #dd5f13; }

.x_panel {
  position: relative;
  width: 100%;
  display: inline-block;
  background: #fff;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  margin: 10px auto 10px;
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease; }
  .x_panel .x-title {
    background: #002c7c;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: #ffffff; }
    .x_panel .x-title h2 {
      font-size: 2rem;
      font-weight: bold;
      padding: 5px 0 5px 10px;
      margin: 0;
      color: #ffffff; }
  .x_panel .x_content {
    padding: 10px; }
    .x_panel .x_content h2, .x_panel .x_content h3, .x_panel .x_content h4, .x_panel .x_content h5, .x_panel .x_content h6 {
      margin: 10px 0; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }
  .panel.panel-danger .panel-heading {
    background: #dd5f13;
    color: #ffffff; }
  .panel.panel-warning .panel-heading {
    background: #EA9908;
    color: #ffffff; }
  .panel.panel-primary .panel-heading {
    background: #002d74;
    color: #ffffff; }
  .panel.panel-info .panel-heading {
    background: #004bc1;
    color: #ffffff; }
  .panel.panel-default .panel-heading {
    background: #7c7c7c;
    color: #ffffff; }
  .panel.panel-success .panel-heading {
    background: #3c763d;
    color: #ffffff; }

/* Elementos */
.table > tbody > tr > td {
  vertical-align: middle; }

.table-hover > tbody > tr:hover {
  background-color: #e4e4e4; }

/*Custom - ADICIONE SUAS CLASSES NESTE ARQUIVO*/
/* DEMO - REMOVER ESTA PARTE */
#icons .col-xs-4 {
  display: inline-block;
  position: relative;
  height: 90px; }

#icons .select-all {
  display: block; }
  #icons .select-all.fas, #icons .select-all.fab {
    font-size: 3.8rem; }

#icons .icon-code {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 43px 0 0px;
  cursor: pointer; }

#icons span {
  text-align: center; }

.is-visible {
  background: #aebecc;
  color: #002d74; }

.is-hidden {
  background: #ffffff;
  color: #a2a2a2; }

/* MENU */
#new-menu {
  font-family: 'Quicksand', sans-serif;
  background-color: #122A73;
  margin-bottom: 0;
  border-radius: 0; }
  #new-menu .navbar-header {
    background: none; }
  #new-menu .navbar-default .navbar-collapse,
  #new-menu .navbar-default .navbar-form {
    background: none; }
  #new-menu #logo-omni img {
    max-width: 120px;
    padding: 9px 10px 0px 0px; }
  #new-menu a {
    color: #fff !important;
    transition: all 0.3s ease;
    font-weight: bold;
    line-height: 300%;
    margin: 0;
    font-size: 14px;
    padding: 15px; }
  #new-menu .nav.navbar-nav > li > a {
    color: #fff !important;
    transition: all 0.3s ease;
    font-weight: bold;
    line-height: 300%;
    margin: 0;
    font-size: 14px;
    padding: 15px; }
    #new-menu .nav.navbar-nav > li > a:hover {
      background-color: #dd5f13;
      background: #ff7e2f;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
      background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  #new-menu .nav.navbar-nav > .open > a {
    background-color: #dd5f13;
    background: #ff7e2f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: -webkit-linear-gradient(top, #ff7e2f 0%, #dd5f13 100%);
    background: linear-gradient(to bottom, #ff7e2f 0%, #dd5f13 100%); }
  #new-menu .nav.navbar-nav li ul.dropdown-menu li a {
    color: #002d74 !important;
    border-top: 1px solid #e4e4e4;
    line-height: 150%;
    padding: 7px 20px;
    margin: 0;
    background: #fff; }
    #new-menu .nav.navbar-nav li ul.dropdown-menu li a:hover {
      background-color: #dd5f13;
      color: #ffffff !important; }
  #new-menu .nav.navbar-nav li ul.dropdown-menu li:hover a:after {
    border-left-color: #717271; }
  #new-menu .nav.navbar-nav li ul.dropdown-menu li:first-child a {
    border: none; }
  #new-menu .nav.navbar-nav > .open > a#seleciona-agente {
    background: none; }
  #new-menu .navbar-header .navbar-toggle {
    margin-top: 18px;
    border-color: #FFF; }
    #new-menu .navbar-header .navbar-toggle:focus, #new-menu .navbar-header .navbar-toggle:hover {
      background-color: #fff; }
    #new-menu .navbar-header .navbar-toggle .icon-bar {
      background-color: #fff !important; }
    #new-menu .navbar-header .navbar-toggle:focus .icon-bar,
    #new-menu .navbar-header .navbar-toggle:hover .icon-bar {
      background-color: #002d74 !important; }
  #new-menu .img-circle {
    width: 30px; }
  #new-menu .navbar-right {
    margin-right: 0px; }
  #new-menu #seleciona-agente {
    line-height: 130%;
    display: block;
    cursor: pointer;
    padding: 21px 5px;
    font-size: 12px; }
  #new-menu span#img-seleciona {
    padding-top: 6px;
    position: absolute;
    right: -20px;
    top: 24px; }

@media (max-width: 768px) {
  #new-menu .nav.navbar-nav > li > a,
  #new-menu .nav.navbar-nav > li:last-child > a {
    line-height: 120%;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #556598; }
  #new-menu #logo-omni img {
    max-width: 110px;
    padding: 9px 10px 0px 0px; }
  #new-menu .navbar-header .navbar-toggle {
    margin: 15px 10px; }
  #new-menu .navbar-nav {
    margin: 0px -15px 0px; }
  #new-menu .dropdown-menu {
    padding: 0px 0; }
    #new-menu .dropdown-menu a {
      margin: 0px 6px;
      padding: 10px 10px; }
  #new-menu li.dropdown.dropdown-submenu {
    background: #fff; }
  #new-menu span#img-seleciona {
    padding-top: 6px;
    position: absolute;
    right: 40px;
    top: 14px; }
  #new-menu #seleciona-agente {
    padding: 21px 15px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #new-menu .select-agent {
    width: 130px; }
  li.agent {
    width: 120px; } }

/* BREADCRUMB */
.breadcrumb-arrow {
  line-height: 36px;
  list-style: none;
  padding: 4px 15px;
  margin: 0 -5px;
  background: #fff; }
  .breadcrumb-arrow li:first-child a {
    text-indent: -99999px; }
    .breadcrumb-arrow li:first-child a:before {
      content: "\f015";
      font-family: 'FontAwesome';
      padding-right: 5px; }
  .breadcrumb-arrow li:last-child {
    font-weight: bold; }

.panel {
  -webkit-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all .2s ease;
  border: none; }
  .panel .panel-heading a {
    width: 100%;
    display: block;
    text-decoration: none; }
    .panel .panel-heading a i {
      display: inline-block;
      float: right; }
  .panel.panel-danger .panel-heading {
    background: #dd5f13;
    color: #ffffff; }
  .panel.panel-warning .panel-heading {
    background: #EA9908;
    color: #ffffff; }
  .panel.panel-primary .panel-heading {
    background: #002d74;
    color: #ffffff; }
  .panel.panel-info .panel-heading {
    background: #004bc1;
    color: #ffffff; }
  .panel.panel-default .panel-heading {
    background: #7c7c7c;
    color: #ffffff; }
  .panel.panel-success .panel-heading {
    background: #3c763d;
    color: #ffffff; }
