<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>

    <link  rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{css/fontawesome.css}">

    <!-- DATATABLES -->
    <link  rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">

    <!-- AUTOCOMPLETE -->
    <link  rel="stylesheet" type="text/css" th:href="@{/css/chosen.css}">

    <!-- AUTOCOMPLETE -->
    <link  rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">

    <!-- DATE RANGE -->
    <link  rel="stylesheet" type="text/css" th:href="@{/css/data.css}">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link  rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/omnifacil.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/formulario.css}">
    <div th:replace="~{imports :: importsJs}"></div>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--            <img class="high-res" src="https://umanni-hr.s3.amazonaws.com/uploads/omni/customization/logo/1/logo_Omni_Banco_Financeira_RGB-01.png">-->
        <a class="navbar-brand" href="index.html">Grupo de Produtos</a>
        <a class="navbar-brand" href="#">Grupo de Ações</a>
        <a class="navbar-brand" href="#">Faixa de Atraso</a>
        <a class="navbar-brand" href="#">Parametrização de Alçada</a>
    </nav>
    <nav>
        <ul class="breadcrumb crumb">
            <li><a href="#"><span class="fa fa-home"></span> Home</a></li>
            <li class="active"><b>Grupo de Produtos</b></li>
        </ul>
    </nav>
</header>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x-title text-center" id="painelCard">
            <h3>Grupo de produtos</h3>
        </div>
        <div class="x_content">
            <form th:action="@{/novo/grupo}" th:object="${gruposModel}" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <div class="col">
                            <label>Nome do novo grupo</label>
                            <input type="text" class="form-control"  th:field="*{nomeGrupo}">
                            <label>Produtos disponíveis para o grupo</label>
                            <input type="text" class="form-control active" placeholder="Buscar opção">
                        </div>
                        <div id="inputProdutos">
                            <div class="col-7">
                                    <div class="form-group">
                                    <select id="produtosDisponiveis"  class="form-control" multiple="multiple" size="10">
                                        <option th:each="produto : ${produtos}" th:value="${{produto}}" th:text="${produto.nomeProdutos}"></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="btnLeft" type="button" class="btn btn-primary"><</button>
                            <br>
                            <button id="btnRigth" type="button" class="btn btn-primary">></button>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <select id="produtosSelecionados" th:field="*{listaDeProdutos}" class="form-control" multiple="multiple" size="10">
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="reset" class="btn btn-default">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </div>
                 </div>
             </form>
        </div>
    </div>
</div>
</div>
</body>
</html>