<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link  rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{css/fontawesome.css}">

    <!-- DATATABLES -->
    <link  rel="stylesheet" type="text/css" th:href="@{css/datatables.css}">

    <!-- AUTOCOMPLETE -->
    <link  rel="stylesheet" type="text/css" th:href="@{css/chosen.css}">

    <!-- AUTOCOMPLETE -->
    <link  rel="stylesheet" type="text/css" th:href="@{css/gallery.css}">

    <!-- DATE RANGE -->
    <link  rel="stylesheet" type="text/css" th:href="@{css/data.css}">

    <!-- ESTILO DO TEMA - SEMPRE POR ÚLTIMO -->
    <link  rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{css/omnifacil.css}">
    <link  rel="stylesheet" type="text/css" th:href="@{css/index.css}">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--            <img class="high-res" src="https://umanni-hr.s3.amazonaws.com/uploads/omni/customization/logo/1/logo_Omni_Banco_Financeira_RGB-01.png">-->
        <a class="navbar-brand" href="#">Grupo de Produtos</a>
        <a class="navbar-brand" href="#">Grupo de Ações</a>
        <a class="navbar-brand" href="#">Faixa de Atraso</a>
        <a class="navbar-brand" href="#">Parametrização de Alçada</a>
    </nav>
    <div>
        <div class="row hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="active">
                    <span>Lista de Grupos</span>
                </li>
            </ol>
        </div>
    </div>
</header>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x-title" id="painelCard">
            <h2>Grupo de produtos</h2>
        </div>

        <div class="x_content">
            <a th:href="@{/formulario/cadastro}">Cadastrar um novo grupo!</a>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{imports :: importsJs}"></div>
</body>
</html>